<div class="navbar">
  <div class="navbar-container">
    <header class="navbar-header">
      
      <!-- Logo -->
      <div class="logo-group">
        <div class="logo-box">
          <span class="logo-initial">S</span>
        </div>
        <h1 class="logo-title">
          <span>NHL</span>
          <span class="logo-title-light">STATS</span>
        </h1>
      </div>
      
      <!-- Navigation -->
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item" routerLinkActive="nav-item-active" [routerLinkActiveOptions]="{exact: true}">
            <a routerLink="/" class="nav-link">HOME</a>
          </li>
          <li class="nav-item" routerLinkActive="nav-item-active">
            <a routerLink="/teams" class="nav-link">TEAMS</a>
          </li>
          <li class="nav-item" routerLinkActive="nav-item-active">
            <a routerLink="/players" class="nav-link">PLAYERS</a>
          </li>
        </ul>
      </nav>
    </header>
  </div>
</div>
